p {
  font-size: 1.12em;
}

#sidebar-wrapper {
  background-color: rgba(26, 43, 35, 1);
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(77, 127, 104, .8);
}

#page-content-wrapper p {
	line-height: 1.5;
}
  /*Quiz styles*/
.choice {
  font-size: 1.5em;
  margin-top: 3vh;
}

#progress {
  margin-top: 4vh;
}

.quiz {
  border-radius: 5px;
  background-color: cadetblue;
  color: white;
}

/* Quizzes main page */
#quiz_nav li {
  text-decoration: none;
}

#quiz_nav li a {
  font-size: 1.2em;
}
#quiz_1 {
  height: 100%;
}
.quiz_nav_item {
  max-width: 15em;
  font-size: 1.3em;
  font-weight: bold;
}
.quiz_nav_item:hover {
  color: white;
  background-color: grey;

}
