#sidebar-wrapper {
  background-color: rgba(26, 43, 35, 1);
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(77, 127, 104, .8);
}

#page-content-wrapper p {
	line-height: 1.5;
}
  /*Quiz styles*/
.choice {
  font-size: 1.5em;
  margin-top: 3vh;
}

#progress {
  margin-top: 4vh;
}

.quiz {
  border-radius: 5px;
  background-color: cadet-blue;
  color: white;
}
