p {
  font-size: 1.12em;
}

#page-content-wrapper p {
	line-height: 1.5;
}
.module_panel {
  max-width: 100%;
}
.panel_num {
  color: #D8D8D8;
  text-shadow: 1px 1px 1px #000;
  position: absolute;
  top: -0.7em;
  left: .1em;
}
.file_ico {
  padding: 0 3px;
}

/*media queries for all screens bigger than mobile*/

@media screen and (min-width : 768px) {
    #page-content-wrapper {
    max-width: 90%;
    margin: auto;
  }
  #modules_container {
    max-width: 85%;
  }
  .module_panel {
    display: inline-block;
  }
  .modal-video {
    min-width: 1000px;
  }
}
  /*Quiz styles*/
.choice {
  font-size: 1.5em;
  margin-top: 3vh;
}

#progress {
  margin-top: 4vh;
}

.quiz {
  border-radius: 5px;
  background-color: #E3EBFC;
}

/* Quizzes main page */
#quiz_nav li {
  text-decoration: none;
}

#quiz_nav li a {
  font-size: 1.2em;
}
#quiz_1 {
  height: 100%;
}
.quiz_nav_item {
  max-width: 15em;
  font-size: 1.3em;
  font-weight: bold;
}
.quiz_nav_item:hover {
  color: white;
  background-color: grey;

}
/* unit panels with title, video and quiz */
.panel-heading {
  text-align: center;
  position: relative;
}
.panel-body {
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 22vw;
}
.module_button {
  margin: 0 5px;
}
.module_panel {
  margin-right: 1em;
  min-width: 19em;
}
.panel-default >.module_panel_neg {
  background-color: #FFF5F0;
}
.panel-default >.module_panel_pos {
  background-color: #F0FFFE;
}
.panel-default >.module_panel_overview {
  background-color: #F4FFEF;
}
/*.panel-default >.module_panel_analysis {
  background-color: #FFF5F0;
}
*/
/* styles from the style.css Mother Jones quiz */


.possible_answer  {
    padding: .75em;
}

.possible_answer:hover {
	background: rgba(254, 231, 88, 1);
	cursor: pointer;
  font-weight: bold;
}

.correct-answer, .wrong-answer {
	opacity: .75;
	cursor: pointer;
}

.wrong-answer {
	background: #FF8362;
}

.correct-answer {
    background: #62DA97;
}

.selected {
    opacity: 1;
}

.selected:hover, .correct-answer:hover, .wrong-answer:hover {
	opacity: 1;
}

.how_you_did {
	text-align: center;
	padding: 1em;
	background-color: rgb(254, 231, 88);
	font-weight: bold;
	font-size: 1.25em;
	-webkit-box-shadow: 0px 7px 5px rgba(50, 50, 50, 0.65);
	-moz-box-shadow:    0px 7px 5px rgba(50, 50, 50, 0.65);
	box-shadow:         0px 7px 5px rgba(50, 50, 50, 0.65);
}

/*multimedia styling*/

img, .youtube {
	margin-bottom: 1em;
	min-height: 200px;
	max-height: 200px;
}

.possible_answer img {
	max-height: 24em;
}

.question img, .revealed_answer img, .selected img, .correct-answer img, .wrong-answer img {
    max-height: 24em;
    display: block;
}

.videoembed {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.videoembed iframe, .videoembed object, .videoembed embed {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.wrapper {
    max-width: 65vw;
    margin: auto;
}
